<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand rounded-circle" href="/"><img src="/static/Images/logo.png"
              alt="ABL Education"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="font-size:20px;"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item dropdown" >
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;" >
                  Courses
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                  <li><a class="dropdown-item" href="/curriculum" style="font-size:20px;">STEM</a></li>
                  <li><hr class="dropdown-divider" ></li>
                  <li><a class="dropdown-item" href="{% url 'curriculum:coding' %}" style="font-size:20px;">Coding</a></li>
                  <li><a class="dropdown-item" href="{% url 'curriculum:ai'%}" style="font-size:20px;">AI</a></li>
                  {% if user.email == 'shahnawaz.1504ali@gmail.com' %}
                  <li><a class="dropdown-item" href="{% url 'curriculum:training_level'%}" style="font-size:20px;">Training Module</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'users:contact' %}" style="font-size:20px;">Contact Us</a>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'admin:index'%}" style="font-size:20px;">Admin</span> </a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto" id="auth">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown" role="button">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:20px;" >
                  Welcome, {{user.username}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                  <li><a class="dropdown-item" href="{% url 'users:student_home' %}" style="font-size:20px;">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout" style="font-size:20px;">Logout</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item ">
                <a class="nav-link active" href="{% url 'users:login' %}" style="font-size:20px;"><i class="fa fa-sign-in mx-2" ></i>Login</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/register" style="font-size:20px;"><i class="fa fa-regular fa-pencil mx-2"></i>Register</span> </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
</body>
</html>