{% extends 'base.html' %}

{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block title %}Parent Form{% endblock %}
{% block body %}
<section id="parent-body">
    <div class="parent-form">
        <img alt="" class="avatar" src="/static/Images/user_avatar.png">
        <h2>Registration Form</h2>
        <form action="{% url 'users:user_parent' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    let auth_token;
    $(document).ready(function(){
        $.ajax({
            type:'get',
            url:'https://www.universal-tutorial.com/api/getaccesstoken',
            success:function(data){
                auth_token = data.auth_token
                get_country(auth_token);
            },
            error:function(error){
                ;
            },
            headers:{
            "Accept":"application/json",
            "api-token":"-rB5B-L1Qsy0_vV-dwaBb1JwGikR1dNmG2_sxFwA3tD6-SFhNuzT1VMOfchJbCcjCD8",
            "user-email":"shahnawaz.1504ali@gmail.com"
            }
            })
            $('#country').change(function(){
                get_state();
            })
            $('#state').change(function(){
                get_city();
            })
    });

        function get_country(auth_token){
            $.ajax({
                type:'get',
                url:'https://www.universal-tutorial.com/api/countries',
                success:function(data){
                    Object.keys(data).forEach(key => {
                        $('#country').append('<option value="'+data[key].country_name+'">'+ data[key].country_name +'</option>');
                    });     
                },
                error:function(error){
                    ;
                },
                headers:{
                "Authorization": "Bearer " + auth_token,
                "Authorization": "Bearer "+ auth_token,
                "Accept":"application/json",
                },
                });
            }

            function get_state(){
                let country_name = $('#country').val();
                $.ajax({
                    type:'get',
                    url:'https://www.universal-tutorial.com/api/states/'+country_name,
                    success:function(data){
                        $('#state').empty();
                        Object.keys(data).forEach(key => {
                            $('#state').append('<option value="'+data[key].state_name+'">'+ data[key].state_name +'</option>');
                            
                        }); 
                        
                    },
                    error:function(error){
                        ;
                    },
                    headers:{
                    "Authorization": "Bearer " + auth_token,
                    "Accept":"application/json",
                    "Authorization": "Bearer "+ auth_token,
                    },
                    });
                }

                function get_city(){
                    let state = $('#state').val();
                    console.log(state);
                    $.ajax({
                        type:'get',
                        url:'https://www.universal-tutorial.com/api/cities/'+state,
                        success:function(data){
                            $('#city').empty();
                            Object.keys(data).forEach(key => {
                                $('#city').append('<option value="'+data[key].city_name+'">'+ data[key].city_name +'</option>');
                                
                            }); 
                            
                        },
                        error:function(error){
                            ;
                        },
                        headers:{
                        "Authorization": "Bearer " + auth_token,
                        "Accept":"application/json",
                        "Authorization": "Bearer "+ auth_token,
                        },
                        });
                    }
    </script>
{% endblock %}