{% extends 'base.html' %}

{% load static %}
{% block title %}Student Form{% endblock %}
{% block body %}
<section id="student-body">
    <div class="student-form">
        <img alt="" class="avatar" src="/static/Images/user_avatar.png">
        <h2>Registration Form</h2>
        <form action="{% url 'users:user_student' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
            {% comment %} {{ form.non_field_errors }}
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {{ form.username.errors }}
            <label for="{{ form.password1.id_for_label }}">Password</label>
            {{ form.password1}}
            {{ form.password1.errors }}
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
            {{ form.password2}}
            {{ form.password2.errors }}
            <label for="{{ form.First_Name.id_for_label }}">First Name</label>
            {{ form.First_Name}}
            {{ form.First_Name.errors }}
            <label for="{{ form.Middle_Name.id_for_label }}">Middle Name</label>
            {{ form.Middle_Name}}
            {{ form.Middle_Name.errors }}
            <label for="{{ form.Last_Name.id_for_label }}">Last Name</label>
            {{ form.Last_Name}}
            {{ form.Last_Name.errors }}
            <label for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email}}
            {{ form.email.errors }}
            <label for="{{ form.dob.id_for_label }}">Date of Birth</label>
            {{ form.dob}}
            {{ form.dob.errors }}
            <label for="{{ form.grade.id_for_label }}">Grade</label>
            {{ form.grade}}
            {{ form.grade.errors }}
            <label for="{{ form.school.id_for_label }}">School</label>
            {{ form.school}}
            {{ form.school.errors }}
            <p>Country</p>
            <select name="country" id="country" required>
                <option></option>
            </select>
            <p>State</p>
            <select name="state" id="state" required>
                <option></option>
            </select>
            <br><br>
            <p>City</p>
            <select name="city" id="city" required>
                <option></option>
            </select> {% endcomment %}
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    let auth_token;
    $(document).ready(function(){
        $.ajax({
            type:'get',
            url:'https://www.universal-tutorial.com/api/getaccesstoken',
            success:function(data){
                auth_token = data.auth_token
                get_country(auth_token);
            },
            error:function(error){
                ;
            },
            headers:{
            "Accept":"application/json",
            "api-token":"-rB5B-L1Qsy0_vV-dwaBb1JwGikR1dNmG2_sxFwA3tD6-SFhNuzT1VMOfchJbCcjCD8",
            "user-email":"shahnawaz.1504ali@gmail.com"
            }
            })
            $('#country').change(function(){
                get_state();
            })
            $('#state').change(function(){
                get_city();
            })
    });

        function get_country(auth_token){
            $.ajax({
                type:'get',
                url:'https://www.universal-tutorial.com/api/countries',
                success:function(data){
                    Object.keys(data).forEach(key => {
                        $('#country').append('<option value="'+data[key].country_name+'">'+ data[key].country_name +'</option>');
                    });     
                },
                error:function(error){
                    ;
                },
                headers:{
                "Authorization": "Bearer " + auth_token,
                "Authorization": "Bearer "+ auth_token,
                "Accept":"application/json",
                },
                });
            }

            function get_state(){
                let country_name = $('#country').val();
                $.ajax({
                    type:'get',
                    url:'https://www.universal-tutorial.com/api/states/'+country_name,
                    success:function(data){
                        $('#state').empty();
                        Object.keys(data).forEach(key => {
                            $('#state').append('<option value="'+data[key].state_name+'">'+ data[key].state_name +'</option>');
                            
                        }); 
                        
                    },
                    error:function(error){
                        ;
                    },
                    headers:{
                    "Authorization": "Bearer " + auth_token,
                    "Accept":"application/json",
                    "Authorization": "Bearer "+ auth_token,
                    },
                    });
                }

                function get_city(){
                    let state = $('#state').val();
                    console.log(state);
                    $.ajax({
                        type:'get',
                        url:'https://www.universal-tutorial.com/api/cities/'+state,
                        success:function(data){
                            $('#city').empty();
                            Object.keys(data).forEach(key => {
                                $('#city').append('<option value="'+data[key].city_name+'">'+ data[key].city_name +'</option>');
                                
                            }); 
                            
                        },
                        error:function(error){
                            ;
                        },
                        headers:{
                        "Authorization": "Bearer " + auth_token,
                        "Accept":"application/json",
                        "Authorization": "Bearer "+ auth_token,
                        },
                        });
                    }
    </script>
{% endblock %}