{% extends 'base.html' %}
{% load static %}
{% block title %} Courses{% endblock %}
{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;"> Courses</h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href=" {% url "users:index" %}">Home</a></li>
            <li class="disabled-text">Training</li>
          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#ff5722;">

        <!-- description -->
        <h6 class="white-text my-4">ABL Education leverages its intelligently curated technology tools & learning
          resources to foster 21st-century skills in kids by enabling them to tinker at an early age.</h6>
      </div>
</header>
{% endblock %}

{% block body %}
<section id="best-features" class="text-center">
  <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ff5722;">Teacher's Training</h2>
  <!-- class row for description-->
  <div class="row d-flex justify-content-center mb-4">
    <!-- class column -->
    <div class="col-md-8 mb-5">
      <p class="grey-text">Robotics, Coding and Artificial Intelligence helps you to understand the theoretical learning in real life applications.</p>
    </div>
  </div>
  <!-- class row2 for cards -->
  <div class="row d-flex justify-content-center mb-3">
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'Images/2.jpg' %}" class="card-img" alt="No image found" height="200px"
            width="200px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title" style="color:#ff5722;">Beginner Level</h4>
            <p class="card-text"><small class="text-muted"></small>Be willing to be a beginner every single morning</p>
            <a href="{% url 'curriculum:trainer_subject_1' %}"><button
                class="button-les"> <span> Start Training</span></button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'Images/3.jpg' %}" class="card-img" alt="No image found" height="200px"
              width="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title" style="color:#ff5722;">Intermediate Level</h4>
              <p class="card-text"><small class="text-muted"></small>The mind is not a vessel to be filled but a fire to be ignited</p>
              <a href="{% url 'curriculum:trainer_subject_2' %}"><button
                  class="button-les"> <span>Start Training</span></button></a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'Images/4.jpg' %}" class="card-img" alt="No image found" height="200px"
              width="200px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title" style="color:#ff5722;">Advance Level</h4>
              <p class="card-text"><small class="text-muted"></small> More grace, more light, more generosity, more compassion, more to shed, more to grow</p>
              <a href="{% url 'curriculum:trainer_subject_3' %}"><button
                  class="button-les"> <span>Start Training</span></button></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
{%endblock%}