body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
#school-body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background:url("/static/Images/client login.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}
.school-form {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -13%);
	width: 400px;
	height: auto;
	padding: 40px 40px;
	background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.avatar {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: 170px;
}
.school-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
}
.school-form p, .school-form label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.school-form input,.school-form select {
	width: 100%;
	margin-bottom: 20px;
}
.school-form input[type=email], .school-form input[type=text], .school-form input[type=tel],.school-form input[type=password],.school-form input[type=date]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;
}

.school-form input[type=submit]{
	height: 35px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	outline: none;
	margin-top: 15%;
}

