<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'css/standard_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <link rel="stylesheet" href="{% static 'css/teacher.css' %}">
    <link rel="stylesheet" href="{% static 'css/parent.css' %}">
    <link rel="stylesheet" href="{% static 'css/school.css' %}">
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_report.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/lesson_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/subjectlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/grade.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/editor/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor/dracula.css' %}">
    <script src="{% static 'js/editor/clike.js' %}"></script>
    <script src="{% static 'js/editor/codemirror.js' %}"></script>
    <script src="{% static 'js/editor/closebrackets.js' %}"></script>
    <script src="{% static 'js/editor/python.js'%}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
      {% include 'users/navbar.html' %}
        <div class = 'col-md-12'>  
          {% if messages %}  
          {% include 'components/message.html' %}  
        {% endif %}   
        </div>
      {% block image_block %}
      {% endblock %}
      {% block body %}
      {% endblock %}
      <script
       src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
       <script
       src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
       <script src="https://www.google.com/recaptcha/api.js" async defer></script>
       
    {% block js %}
    <script>
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>
    {% endblock %}
  </body>
</html>