#rpass:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background:url("/static/Images/client login.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}
#reset-password{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 400px;
	height: 200px;
	padding: 40px 40px;
	background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#reset-password h3 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
}
#reset-password p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
#reset-password input {
	width: 50%;
	margin-bottom: 20px;
}
#reset-password input[type=email]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;
}
#reset-password input[type=submit]{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 20px;
	border: none;
	outline: none;
	margin-top: 15%;
}